@font-face {
  font-family: Manrope;
  src: url("/fonts/Manrope-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Regular.ttf");
}

@import "tailwindcss";
@tailwind utilities;

@theme{
  --font-manrope: Manrope, "sans-serif"
  
}

@theme{
  --font-montserrat: Montserrat, "sans-serif"
}
